<th class="text-end">Vendite</th>
<th class="text-end">Immesso</th>
<th class="text-end">Acquisti Dropzone</th>
<th class="text-end type-col">BOL</th>
<th class="text-end type-col">BRF</th>
<th class="text-end type-col">NAC</th>
<th class="text-end type-col">NAD</th>
<th class="text-end">Spese extra</th>
<th class="text-end">Costi totali</th>
<th class="text-end">Margine €</th>
<th class="text-end">Margine %</th>
<th class="text-end text-muted" title="Margine calcolato sull'immesso">Margine immesso %</th>
